.loginpage {
    width: 380px;
    min-height: 360px;
    margin: 120px auto 60px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .05);
    padding: 15px 15px;
    .title {
        color: #44566f;
        font-size: 22px;
        font-weight: 300;
        text-align: left;
    }
    .properties {
        font-size: 13px;
        font-weight: 300;
        color: #989898;
        text-align: left
    }
    .warning {
        font-size: 13px;
        font-weight: 300;
        color: #b00000;
        text-align: left
    }
    .button {
        color: #fff;
        border-color: #4e627e;
        background-color: #4e627e;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
        font-size: .875rem;
        position: relative;
        transition: all .15s ease;
        letter-spacing: .025em;
        text-transform: uppercase;
        will-change: transform;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        display: inline-block;
        padding: .625rem 1.25rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: .25rem;
        &:focus {
            text-decoration: none;
        }
        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
            color: #fff;
            border-color: #44566f;
            background-color: #44566f;
            text-decoration: none;
        }
    }
    .button-link {
        font-size: 0.91rem;
        color: #576e8e;
        &:hover {
            color: #1d2430;
        }
    }
}
