.visible {
    visibility:visible
}
.vis_hide {
    visibility:hidden
}
.home-main {
    width: 100%;
}
.home-main .home-container {
    width:1180px;
    margin:0 auto;
    background-color:#fff
}
.home-main .home-container {
    width:1180px;
    margin:0 auto;
    background-color:#fff
}
.home-main .home-container .index-bg-red {
    background-color: #ee6560;
}
.home-main .home-container .index-bg-green {
    background-color: #4db872;
}
.home-main .home-container .index-red {
    color: #ee6560;
}
.home-main .home-container .index-green {
    color: #4db872;
}