.registerpage {
    width: 380px;
    min-height: 360px;
    margin: 120px auto 60px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
    padding: 15px 15px;
}