.main-content {
  // width: 85%;
  margin: auto;
  margin-top: 30px;
  // padding-top: 50px;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}